<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Почтовая рассылка</p>
			<p>Получайте свежие новости от нас в свой почтовый ящик каждые две недели. Узнавайте первыми о ноых событиях.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">РОМОДА</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Домой</a></li>
					<li><a href="/products" class="link">Музыка</a></li>
					<li><a href="/values" class="link">О нас</a></li>
					<li><a href="/post" class="link">Истории</a></li>
					<li><a href="/contact" class="link">Контакты</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Подробнее</h3>
				<ul class="mb3">
					<li><a href="/post/jamaica-blue/" class="link">Свежие истории</a></li>
					<li><a href="/contact" class="link">Сотрудничество</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Социальные сети</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
