<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/products" class="pa3 no-underline db">Музыка</a></li>

		<li><a href="/values" class="pa3 no-underline db">О нас</a></li>

		<li><a href="/post" class="pa3 no-underline db">Истории</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Контакты</a></li>
	</ul>

</nav>
